{% extends "base.html" %}
{% block title %} 加班費計算 {% endblock %}
{% block content%}
<!-- {% for vlist in vendor_list %}
  <h1> 店家 : {{vlist.vendor_name}} </h1>
  <ul>
    <li>店名 : {{ vlist.store_name}}</li>
    <li>電話 : {{ vlist.phone_number}}</li>
    <li>地址 : {{ vlist.address}}</li>
  </ul>
{% endfor %} -->
<form action="{% url 'overtime_pay' %}" method="POST">
  {% csrf_token %}
  <h2>加班費計算</h2>
  <input type="text" placeholder="請輸入ID" name="query_id"/>
  <input type="text" placeholder="請輸入年份" name="query_year"/>
  <input type="text" placeholder="請輸入月份" name="query_month"/>
  <input type="text" placeholder="請輸入加班費/每小時" name="pay_ratio"/>
  <input type=submit value="查詢">
</form>
<hr size="12px" width="100%" >
{% block result %}
{% endblock %}

{% endblock %}